{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row my-5">
        <div class="col-12 col-lg-6">
            <div class="bg-white border overflow-hidden">
                <img src="/{{ object.image }}" width="100%">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="border p-3 text-left text-dark overflow-hidden">
                <h2 class="display-5">{{object.name}}</h2>
                <p class="lead">
                    <a href="/categories/{{object.category.slug}}/"
                        class="badge badge-pill badge-warning">{{object.category.name}}</a>
                    {% for tag in object.tags.all %}
                    <a href="/tags/{{tag.slug}}/" class="badge badge-pill badge-light">#{{tag}}</a>
                    {% endfor %}
                </p>
                <p class="lead">残り{{object.stock}}個
                </p>
                <p class="lead">¥{{object.price}}（税別）</p>
                <p class="lead">{{object.description}}</p>


                <!-- Add to Cartを追記すること -->


            </div>
        </div>
    </div>
</div>
{% endblock %}